%h3 After Dark at the Art Institute of Chicago
%h4 Creating community through technology
.row
  .4u
    %section
      %p
        At "After Dark" at the Art Intitute of Chicago, I was hired by
        Collaboraction to direct a series of five events exploring current exhibitions.
        The events involved creating interactive and immersive experiences for up to 1200 guests
        at a time as they wandered through the Modern Wing.
      %p
        At one event that celebrated conceptual photography, I leveraged the Flickr API to
        create interactive, image-capturing games that streamed live media to both static and interactive
        projections throughout the space.
      %p
        At another event inspired by the architecture of Bertrand Goldberg,
        I collaborated with the video team at Stoptime341 to engineer a video
        feedback installation that allowed guests to dance with time-warped reflections of themselves.
      %p
        These experiences allowed cool connections to develop between guests,
        allowing them to get in touch with often abstract ideas and concepts. Through technology and
        immersive performance experiences, we created fun ways
        for people from completely different backgrounds to come together and be invigorated by art.

  .8u
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/crowd4.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/wall2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/video1.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/video2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/city2.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/crowd3.jpg"}/