%h3 After Dark at the Art Institute of Chicago
%h4 Creating community through technology
.row
  .4u
    %section
      %p
        At one event that celebrated conceptual photography, I created interactive, image-capturing games that streamed live media to both static and interactive projections throughout the space.
      %p
        At another event inspired by the architecture of Bertrand Goldberg, my team engineered a video feedback installation that allowed guests to dance with time-warped reflections of themselves. These immersive experiences naturally and playfully connected guests, allowing them to explore abstract concepts in tactile, fun ways and make connections with people from completely different backgrounds. I once witnessed a group of non-English speakers collaborating with a group of local teenagers to construct a miniature futuristic city.
  .8u
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/crowd4.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/wall2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/video1.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "",  "data-original" => "images/afterdark/video2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/city2.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/afterdark/crowd3.jpg"}/