.row.crime
  .row
    .12u
      %h3 Crime Scene Chicago
      %h4 An outlet for people affected by Chicago violence to express themselves
  .row
    .4u
      %span.image{href: "#"}
        %img.lazy{alt: "", "data-original" => "images/crime/crime.png"}/
    .4u
      %span.image{href: "#"}
        %img.lazy{alt: "", "data-original" => "images/crime/crime2.png"}/
  .row
    .12u
      %p
        This application provides a platform for Chicagoans affected by crime to securely and anonymously report how crime is affecting them without fear of reprisal.
        This application was inspired by a play created by
        %a{:href => "http://www.collaboraction.org", :target => "_blank"}
          Collaboraction,
        an arts organization I work with frequently.
        The play, and now the application, are attempting to address issues of gang violence endemic to Chicago.
      %h4 How does it work?
      %p
        The app is continually under development.
        In partnership with Collaboraction, we plan on rolling out the Crime Scene Chicago app in early 2014.
      %p
        In the meantime, to view our progress, visit
        %a{:href => "http://www.crimescenechicago.org"} CrimeSceneChicago.org.
