= content_for :body do
  / Basic Elements
  %section.main
    %header
      .container
        %h2 A Whole Lotta Elements
        %p General purpose elements for every general purpose. Or something like that.
    .content.style1.dark
      .container
        %section
          %header
            %h3 Paragraph
            %p This is a byline
          %p
            Phasellus nisl nisl, varius id
            %sup porttitor sed pellentesque
            ac orci. Pellentesque
            habitant
            %strong strong
            tristique
            %b bold
            et netus
            %i italic
            malesuada
            %em emphasized
            ac turpis egestas. Morbi
            leo suscipit ut. Praesent
            %sub id turpis vitae
            turpis pretium ultricies. Vestibulum sit
            amet risus elit.
        %section
          %header
            %h3 Blockquote
          %blockquote
            Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
            tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
            tempus ante ipsum primis in faucibus orci luctus et ultrices.
        %section
          %header
            %h3 Divider
          %p
            Donec consectetur
            = succeed "." do
              %a{href: "#"} vestibulum dolor et pulvinar
          %hr/
          %p
            Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
            ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
            facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
            tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia.
        %section
          %header
            %h3 Unordered List
          %ul.default
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
        %section
          %header
            %h3 Ordered List
          %ol.default
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.
            %li Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.

