.row
  .12u
    .row.no-collapse
      .4u
        %a.image{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/fhg/photo2.png"}/
      .4u
        .image
          %img.lazy{alt: "Funky Hot Grits", "data-original" => "images/fhg/fhglogo.png"}/
      .4u
        %a.image{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/fhg/photo1.png"}/
    .row
      .3u
      .6u
        %h4 Rock, Soul, Blues, Jazz, Funk
        %h4 I play guitar in a killer band in Chicago. Here's a preview of our upcoming record, coming spring of 2014.
        %ul.default
          %li
            Space
            %br/
            %embed{allowscriptaccess: "always", height: "30", src: "https://d3mlfyygrfdi2i.cloudfront.net/321f/kickplayer.swf?audioonly=true&controlbar.idlehide=false&controlbar=bottom&file=https%3A%2F%2Fs3.amazonaws.com%2Fksr%2Fassets%2F001%2F447%2F065%2Ff0b84c089cb1ffd2a0522a247dc761c8_original.mp3%3F1387175178&skin=https%3A%2F%2Fd3mlfyygrfdi2i.cloudfront.net%2Fcc3a%2Fkickskin.swf", type: "application/x-shockwave-flash", width: "560", wmode: "transparent"}
          %li
            Runaround
            %br/
            %embed{allowscriptaccess: "always", height: "30", src: "https://d3mlfyygrfdi2i.cloudfront.net/321f/kickplayer.swf?audioonly=true&controlbar.idlehide=false&controlbar=bottom&file=https%3A%2F%2Fs3.amazonaws.com%2Fksr%2Fassets%2F001%2F447%2F071%2F848e55ebf4099854222e9cab6570ee26_original.mp3%3F1387175574&skin=https%3A%2F%2Fd3mlfyygrfdi2i.cloudfront.net%2Fcc3a%2Fkickskin.swf", type: "application/x-shockwave-flash", width: "560", wmode: "transparent"}
          %li
            Gimme Gimme
            %br/
            %embed{allowscriptaccess: "always", height: "30", src: "https://d3mlfyygrfdi2i.cloudfront.net/321f/kickplayer.swf?audioonly=true&controlbar.idlehide=false&controlbar=bottom&file=https%3A%2F%2Fs3.amazonaws.com%2Fksr%2Fassets%2F001%2F447%2F073%2F98cebcebef39c4a931a677623312c705_original.mp3%3F1387175596&skin=https%3A%2F%2Fd3mlfyygrfdi2i.cloudfront.net%2Fcc3a%2Fkickskin.swf", type: "application/x-shockwave-flash", width: "560", wmode: "transparent"}
        %a{:href => "http://www.funkyhotgrits.com"} Visit FunkyHotGrits.com for more information.
      .3u
