= content_for :body do
  %section#header.dark
    %header
      %h1 #{site_name}
      %p #{site_description}
    %footer
      %a.button.scrolly{href: "#first"} #{header_button_text}
  / First
  %section#first.main
    %header
      .container
        %h2 Welcome to my portfolio
        %p
          By day, I work as a web application developer.
          By night, I direct immersive live experiences and hack
          away at interesting projects.
          %br/
          I believe technology can engender local and global communities
          within which we can experience our rich diversities, find common
          ground, and collaborate for our mutual betterment.
    .content.dark.style1.featured
      .container
        .row
          .4u
            %section
              %span.feature-icon
                %span.fa.fa-code
              %a.scrolly{:href => "#second"}
                %header
                  %h3 Development
              %p
                I work in a variety of environments and languages.
                I like focusing on projects that allow intersections between digital and physical spaces.
                To me, programming is a tool for solving real-world problems.
                I am fascinated by the idea that technology can be a force for change.

          .4u
            %section
              %span.feature-icon
                %span.fa.fa-group
              %a.scrolly{:href => "#third"}
                %header
                  %h3 Live Experiences
              %p
                I work as a director, deviser, and experience-maker in Chicago, IL.
                I have a background in collaboratively created physical theater.
                I believe immersive experiences can be powerful and transformative.
                In a world of 2D media, live experiences are uniquely situated to subvert
                the cultural dominance of mediatized forms.
          .4u
            %section
              %span.feature-icon
                %span.fa.fa-music
              %a.scrolly{:href => "#fourth"}
                %header
                  %h3 Music
              %p
                I play guitar in a Funk/Soul/Rock band called Funky Hot Grits.
                I've played in jazz combos, rock bands, and a word-beat band.
                I've played percussion in Brazilian Samba and Indonesian Gamelan ensembles.
                I've sang in choirs, and studied West African percussion, as well as classical, and jazz guitar.
                In college, I concentrated in electronic music composition.
        .row
          .12u
            %footer
              %a.button.scrolly{href: "#second"} Some examples of my work...
  / Second
  %section#second.main
    %header
      .container
        %h2 Application Development
        %p
          I'm interested in how technology can be a tool for dissolving boundaries between mediums.
          How can technology enable fluidity that results in unexpected communities and connection?
          How can technology enable new modes of discovery and understanding?
          %br/
    .content.dark.style3
      .container
        .row
          .12u
            %h3 Kanari
            %h4 Real-time audience "user-testing"
            %span.image.featured
              %img.lazy{alt: "", "data-original" => "images/kanari/chart.png"}/
            %h4 What is Kanari?
            %p
              Kanari captures real-time audience feedback and reactions and allows the user to
              visually analyze audience reactions quantitatively against an audio recording of the event.
            .row
              .8u
                %h4 How does it work?
                %p
                  The user creates a new event on Kanari and shares the event code with everyone in the audience.
                  The audience visits Kanari on their phones and enters the code. The user hits “record” and begins capturing an audio recording of the event.
                  On their mobile devices, the audience taps icons corresponding to their realtime reaction to the event.
                  At the events conclusion, a time series graph is rendered alongside the audio recording, allowing the user to address moments of confusion or success throughout the event.
              .4u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/kanari/record.png"}/
            %p
              One use case might be someone wanting to know how a new presentation is being understood. It’s easy to get qualitative feedback after the presentation is over, but it’s more difficult to understand quantitatively the sources of confusion at specific moments. Even if your test audience is taking notes, they have to continually break focus to jot things down. Kanari aims to provide a more seamless method of recording feedback.
            %p
              Other use cases would be understanding reactions during developing new music repertoire, devising theater with test audiences or previews, or getting insight into your comedic timing. The applications are endless.

            .row
              .5u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/kanari/feedback.png"}/
              .7u
                %h4 Why?
                %p I built Kanari because, as a director, I was frustrated by not being able to receive real-time feedback from audiences in the development of live experiences. Kanari solves this problem by introducing a natural way for audience members to register emotions and reactions in real-time.

                %h4 Can I try it?
                %p
                  Yep! So soon. Kanari was built as part of the 2013 Rails Rumble. We’re currently rebuilding Kanari and plan on launching a public beta in January of 2014. In the meantime,
                  %a{:href => "http://kanari-rails.heroku-app.com"}
                    you can try out the prototype.
            %br/
            %p
              %a{:href => "http://www.nathanrgreen.com/category/development/", :target => "_blank"} See more of my work as an developer
            %footer
              %a.button.scrolly{href: "#third"} Next: See Live Experience Work

  / Third
  %section#third.main
    %header
      .container
        %h2 Live Experience Design
        %p
          There's nothing more powerful than direct experience. I love creating unique original experiences and building them collaboratively.
          I'm a company member of Chicago's Collaboraction, where I do a lot of interesting work. I also used to run an ensemble-based physical theatre company called Fish & Bicycle.
    .content.dark.style2
      .container
        %h3 After Dark at the Art Institute of Chicago
        %h4 Creating community through technology
        .row
          .4u
            %section
              %p
                At one event that celebrated conceptual photography, I created interactive, image-capturing games that streamed live media to both static and interactive projections throughout the space.
              %p
                At another event inspired by the architecture of Bertrand Goldberg, my team engineered a video feedback installation that allowed guests to dance with time-warped reflections of themselves. These immersive experiences naturally and playfully connected guests, allowing them to explore abstract concepts in tactile, fun ways and make connections with people from completely different backgrounds. I once witnessed a group of non-English speakers collaborating with a group of local teenagers to construct a miniature futuristic city.
              %p
                %a{href: "http://www.nathanrgreen.com/category/experience-creation/", :target => "_blank"} See more of my work as a director.
              %footer
                %a.button.scrolly{href: "#fourth"} Next: Learn about my work as a musician
          .8u
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "",  "data-original" => "images/afterdark/crowd4.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "",  "data-original" => "images/afterdark/wall2.jpg"}/
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/afterdark/video1.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "",  "data-original" => "images/afterdark/video2.jpg"}/
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/afterdark/city2.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/afterdark/crowd3.jpg"}/

  / Fourth
  %section#fourth.main
    %header
      .container
        %h2 Music
        %p
          As a musician, I'm interested in the intersections between performance, technology, and storytelling. How does music enable community and collaboration?
          How is music both culturally specific and universal? I'm deeply interested in the music traditions of other cultures and how music manifests in ceremony and ritual.
          How can modern modes of music making engender liminal spaces and transformative experiences?
          %br/
    .content.dark.style2
      .container
        %h3 The Tibetan Book of the Dead
        %h4 Blending live and electronic music.
        .row
          .4u
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/pd.png"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/strat.jpg"}/
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/board.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/boardback.jpg"}/
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/midi.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/midi2.jpg"}/
            .row.no-collapse
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/sabar.jpg"}/
              .6u
                %a.image.full{href: "#"}
                  %img.lazy{alt: "", "data-original" => "images/tbd/setup.jpg"}/

          .8u
            %section
              %p
                Jack in the Black Box Theater in Atlanta produced this adaptation of The Tibetan Book of the Dead. Adapted in the 1960s,
                I modernized the original score and developed some cool interfaces and software patches to augment live percussion and guitar.
                I used Pd to program the patches controlled from a controller box I built, as well as Ableton and Reason for additional sequencing and software synthesis.
                I also installed a MIDI interface on my Strat. You can listen to the results below!

              %p
                %blockquote
                  By far the production’s best quality is its Indian-influenced music,
                  composed by Steve Gorn and performed live by Nathan Green and
                  Jamie DeDakis on enough exotic instruments to stock a music store.
                  Martial drums raise our adrenaline, grand gongs rattle our teeth and a
                  couple of times an incongruous jazz saxophone hits bluesy notes that feel refreshingly down to earth.
                  %br
                    \~Creative Loafing, Atlanta

            %p
              %iframe{:src=> "http://archive.org/embed/NathanGreenJamieDeDakisStevenGorn", :height => "30", :width => "500", :frameborder => "0"}
            %p
              %a{href: "http://www.nathanrgreen.com/category/music/", :target => "_blank"} See more of my work as a musician.
              %footer