.row.kanari
  .12u
    %h3 Kanari
    %h4 Real-time audience "user-testing"
    .row
      .4u
        %span.image
          %img.lazy{alt: "", "data-original" => "images/kanari/devise2.png"}/
      .4u
        %span.image
          %img.lazy{alt: "", "data-original" => "images/kanari/record.png"}/
      .4u
        %span.image
          %img.lazy{alt: "", "data-original" => "images/kanari/devise1.png"}/
    %h4 What is Kanari?
    %p
      Kanari captures real-time audience feedback and reactions and allows the user to
      visually analyze audience reactions quantitatively against an audio recording of the event.
    .row
      .7u
        %h4 How does it work?
        %p
          The user creates a new event on Kanari and shares the event code with everyone in their audience.
          The audience visits Kanari on their phones and enters the code. The user hits “record” and begins capturing an audio recording of the event.
          On their mobile devices, the audience taps icons corresponding to their realtime reaction to the event.
          At the events conclusion, a time series graph is rendered alongside the audio recording, allowing the user to address moments of confusion or success throughout the event.
      .5u
        %span.image
          %img.lazy{alt: "", "data-original" => "images/kanari/feedback.png"}/
    %p
      One use case might be someone wanting to know how a new presentation is being understood. It’s easy to get qualitative feedback after the presentation is over, but it’s more difficult to understand quantitatively the sources of confusion at specific moments. Even if your test audience is taking notes, they have to continually break focus to jot things down. Kanari aims to provide a more seamless method of recording feedback.
    %p
      Other use cases would be understanding reactions during developing new music repertoire, devising theater with test audiences or previews, or getting insight into your comedic timing. The applications are endless.

    .row
      .7u
        %span.image{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/kanari/chart.png"}/
      .5u
        %h4 Why?
        %p I'm building Kanari because, as a director, I'm frustrated by not being able to receive real-time feedback from audiences in the development of live experiences. Kanari solves this problem by introducing a natural way for audience members to register emotions and reactions in real-time.

        %h4 Can I try it?
        %p
          Yep! So soon. Kanari was built as part of the 2013 Rails Rumble. We’re currently rebuilding Kanari and plan on launching a public beta in early 2014. In the meantime,
          %a{:href => "http://kanari-rails.herokuapp.com"}
            you can try out the prototype.
    %br/