.row
  .12u
    %h3 Late Edition 9/10/01
    %h4 Adapted from the 9/10/01 issue of the New York Times at Emory University as part of my senior honors thesis.
    .row
      .12
        %p Upon entering the space, the audience votes on the order in which the sections of the newspaper are presented. The audience then sits on a swivel chair inside a “swivel arena”. The lone actor performs the quotations of news articles amidst the contextualizing journalism, which is silmultaneously projected on screens surrounding the audience. The audience is  filmed and displayed on TVs. Between each section of the paper presented, the audience is polled on an aspect of the media and is asked to vote by moving to one side of the swivel arena representing either “yes” or “no”.
        %p Through this experience, I examined the audience’s willingness to participate in a highly media-saturated and self-aware environment. I wanted to answer the question of whether technology in live experiences was impeding our ability to experience community, or if technology could actually enable a greater sense of community.
        %p I concluded that it’s possible to do both. Sometimes during the same event…

    %p
      / This version of the embed code is no longer supported. Learn more: https://vimeo.com/s/tnm
      %object{height: "375", width: "500"}
        %param{name: "allowfullscreen", value: "true"}/
        %param{name: "allowscriptaccess", value: "always"}/
        %param{name: "movie", value: "http://vimeo.com/moogaloop.swf?clip_id=55145178&force_embed=1&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=00adef&fullscreen=1&autoplay=0&loop=0"}/
        %embed{allowfullscreen: "true", allowscriptaccess: "always", height: "375", src: "http://vimeo.com/moogaloop.swf?clip_id=55145178&force_embed=1&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=00adef&fullscreen=1&autoplay=0&loop=0", type: "application/x-shockwave-flash", width: "500"}
      %p
        %a{href: "http://vimeo.com/55145178"} Late Edition 9/10/01
        from
        %a{href: "http://vimeo.com/nathangreen"} Nathan Green
        on
        = succeed "." do
          %a{href: "https://vimeo.com"} Vimeo