%h3 Our Last Night on Earth
%h4 An experiential theatrical party experience exploring community, technology, and the apocalypse.
.row
  .6u
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image3.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image1.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image4.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image5.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image6.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image7.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/olnoe/image8.jpg"}/
  .6u
    %section
      %p Our Last Night on Earth premiered at Collaboraction, an interdisciplinary arts organization in Chicago, in December of 2012, and ran for two weekends.
      %p I lead a team of 13 actors and 5 designers to build an immersive experience where guests were escorted to a secret location to experience the apocalypse together on the last night on Earth. We explored how technology enables our sense of authority by creating a media-saturated atmosphere of interactive installations and sensual experiences.
      %p
        At the height of this media-saturated experience, we cut the power and people were left in darkness with each other and their glow-sticks.
        We listened to tape recordings of interviews made on digital recorders earlier in the evening.
        People shared jokes, and stories of forgiveness and survival. Eventually, through an exploration of story and ritual,
        we magically restored power to the space, and helped the audience survive the end of time.