%section
  %header
    %h3 Table
  .table-wrapper
    %table.default
      %thead
        %tr
          %th ID
          %th Name
          %th Description
          %th Price
      %tbody
        %tr
          %td 00001
          %td Lorem ipsum dolor
          %td Ut porttitor sagittis lorem quis nisi ornare.
          %td 29.99
        %tr
          %td 00002
          %td Sit amet nullam
          %td Ut porttitor sagittis lorem quis nisi ornare.
          %td 19.99
        %tr
          %td 00003
          %td Feugiat felis viverra
          %td Ut porttitor sagittis lorem quis nisi ornare.
          %td 29.99
        %tr
          %td 00004
          %td Sagittis enim felis
          %td Ut porttitor sagittis lorem quis nisi ornare.
          %td 19.99
        %tr
          %td 00005
          %td Nullam sed vestibulum
          %td Ut porttitor sagittis lorem quis nisi ornare.
          %td 19.99
      %tfoot
        %tr
          %td{colspan: "3"}
          %td 100.00