%h3 The Tibetan Book of the Dead
%h4 Blending live and electronic music.
.row
  .4u
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/pd.png"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/strat.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/board.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/boardback.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/midi.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/midi2.jpg"}/
    .row.no-collapse
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/sabar.jpg"}/
      .6u
        %a.image.full{href: "#"}
          %img.lazy{alt: "", "data-original" => "images/tbd/setup.jpg"}/
  .8u
    %section
      %p
        Jack in the Black Box Theater in Atlanta produced this adaptation of The Tibetan Book of the Dead. Adapted in the 1960s,
        I modernized the original score and developed some cool interfaces and software patches to augment live percussion and guitar.
        I used Pd to program the patches controlled from a controller box I built, as well as Ableton and Reason for additional sequencing and software synthesis.
        I also installed a MIDI interface on my Strat. You can listen to the results below!

      %p
        %blockquote
          By far the production’s best quality is its Indian-influenced music,
          composed by Steve Gorn and performed live by Nathan Green and
          Jamie DeDakis on enough exotic instruments to stock a music store.
          Martial drums raise our adrenaline, grand gongs rattle our teeth and a
          couple of times an incongruous jazz saxophone hits bluesy notes that feel refreshingly down to earth.
          %br
            \~Creative Loafing, Atlanta

      %iframe{:src=> "http://archive.org/embed/NathanGreenJamieDeDakisStevenGorn", :height => "30", :width => "500", :frameborder => "0"}