body {
}
#main{
    padding: 25px;
    font-family: PT Sans, sans-serif;
}

#chart{
    margin-left: 25px;
}

#header .button-field .btn {
    margin-top: -7px;
}
#legend {
    font-family: PT Serif, serif;
    font-size: 1.6em;
}
#legend li {
    display: inline;
}

#questions{
    margin-left:25px;
}

g circle:hover{
    stroke: #000000;
    stroke-width: 2px;
}

.insightList{
    margin-left: 1em;
    font-size: 1.6em;
    font-family: PT Sans, sans-serif;
}

#questions{
    font-size: 1.6em;
    font-family: PT Sans, sans-serif;
    height: 50px;
}
